@font-face {
  font-family: RobotoCondenced;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-size: 20px;
  font-family: 'RobotoCondenced';
}
