.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid lightgray
}

.no-wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.button {
  border: none;
  height: 30px;
  margin: 5px;
  border-radius: 3px;
  color: white;
  fill: white;
  cursor: pointer;
}

.badge {
  position: absolute;
  border-radius: 30px;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  right: 0px;
  top: 0px;
  color: white;
  fill: white;
}

.warning {
  background-color: #e6d707;
}
.warning:hover {
  background-color: #e7df67;
}


.primary {
  background-color: #4287f5;
}
.primary:hover {
  background-color: #5e97f7;
}

.default {
  background-color: gray;
}
.default:hover {
  background-color: rgb(179, 179, 179);
}

.danger {
  background-color: #cc3333;
}
.danger:hover {
  background-color: #d85f5f;
}

.input {
  padding: 5px;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 30px;
  border: 1px solid lightgray;
  width: 80%;
}

.error-message {
  color: #cc3333;
  font-size: 25px;
}